{
  "sdk_version": "dd_ms3",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "TeakDemo",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.TeakDemo",
  "app_name": "TeakDemo",
  "app_version": "0.0.0",
  
  "facebook_app_id": "FACEBOOK APP ID GOES HERE",
  "teak_app_secret": "TEAK APP SECRET GOES HERE"
}