{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "ShaderExample",
    "stats": 0,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.test.ShaderExample",
  "app_name": "ShaderExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}