_Resharper*
premake/
obj/
cmake_*/
artifacts/*
ipch/
*.pdb
*.sdf
*.sln
*.suo
*.opensdf
*.filters
*.user

*/obj/*
obj/*

*.loom
*.loomlib
*.ilk

# Ignore sass-cache files.
*.sass-cache*

.metadata
.classpath
.settings
.project

build/android/*/bin
build/android/*/libs/

build/luajit*
loom/vendor/luajit/src/jit/vmdef.lua
loom/vendor/luajit/src/host/buildvm
loom/vendor/luajit/src/host/*.o
loom/vendor/luajit/src/host/buildvm_arch.h
loom/vendor/luajit/src/host/minilua
loom/vendor/luajit/src/*.o
loom/vendor/luajit/*.a
loom/vendor/luajit/src/*.a
loom/vendor/luajit/src/*.so
loom/vendor/luajit/src/*.dll
loom/vendor/luajit/src/*.exe
loom/vendor/luajit/src/*.exp
loom/vendor/luajit/src/*.lib
loom/vendor/luajit/src/*.obj
loom/vendor/luajit/src/lj_bcdef.h
loom/vendor/luajit/src/lj_ffdef.h
loom/vendor/luajit/src/lj_folddef.h
loom/vendor/luajit/src/lj_libdef.h
loom/vendor/luajit/src/lj_recdef.h
loom/vendor/luajit/src/lj_vm.s
loom/vendor/luajit/src/luajit

*CMakeFiles*

docs/output
docs/examples/*/libs

.DS_Store
EngineCoEngine.xcworkspace/

pkg
/libs
examples.zip
loomsdk.zip
nativesdk.zip

# Android Ignores
application/android/assets/
application/android/bin/
application/android/gen/
application/android/libs/armeabi-v7a

application/android/local.properties
application/android/proguard-project.txt

# Ouya Ignores
application/ouya/assets/
application/ouya/bin/
application/ouya/gen/
application/ouya/libs/armeabi-v7a
application/ouya/local.properties
application/ouya/proguard-project.txt


loom/engine/cocos2dx/platform/android/java/bin/
loom/engine/cocos2dx/platform/android/java/gen/
loom/engine/cocos2dx/platform/android/java/local.properties

loom/vendor/facebook/android/bin
loom/vendor/facebook/android/gen
loom/vendor/facebook/android/local.properties

#docs stuff
s3_docs
loom/vendor/luajit/libluajit64.a

loom/vendor/luajit/libluajit32.a
output
