_Resharper*
premake/
obj/
artifacts/*
ipch/
*.pdb
*.sdf
*.sln
*.suo
*.opensdf
*.filters
*.user

*/obj/*
obj/*

*.loom
*.loomlib
*.ilk

# Ignore sass-cache files.
*.sass-cache*

.metadata
.classpath
.settings
.project

build/luajit-*
build/loom-*

*CMakeFiles*

docs/output
docs/examples/*/libs

.DS_Store
EngineCoEngine.xcworkspace/

pkg
/libs
examples.zip
loomsdk.zip
nativesdk.zip

# Android Ignores
application/android/assets/
application/android/bin/
application/android/gen/
application/android/libs/armeabi-v7a

application/android/local.properties
application/android/proguard-project.txt
application/android/build.xml

# Ouya Ignores
application/ouya/assets/
application/ouya/bin/
application/ouya/gen/
application/ouya/libs/armeabi-v7a
application/ouya/local.properties
application/ouya/proguard-project.txt


loom/engine/cocos2dx/platform/android/java/bin/
loom/engine/cocos2dx/platform/android/java/gen/
loom/engine/cocos2dx/platform/android/java/local.properties
loom/engine/SDL2/platform/android/java/proguard-project.txt

loom/vendor/facebook/android/bin/
loom/vendor/facebook/android/gen/
loom/vendor/facebook/android/local.properties
loom/vendor/facebook/android/proguard-project.txt
loom/vendor/facebook/android/build.xml


#docs stuff
s3_docs

output
gems
loom/engine/SDL2/platform/android/java/bin/
loom/engine/SDL2/platform/android/java/gen/
loom/engine/SDL2/platform/android/java/local.properties
loom/vendor/sdl2/Xcode-iOS/SDL/build
loom/vendor/sdl2/Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata
loom/vendor/sdl2/Xcode-iOS/SDL/SDL.xcodeproj/project.xcworkspace/xcuserdata
loom/engine/sdl2/platform/android/java/build.xml
docs/examples/*/bin-release/
libSDL2.a
