{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 1280,
    "height": 720,
    "title": "Thrusties",
    "orientation": "portrait"
  },
  "app_id": "co.theengine.demo.Thrusties",
  "app_name": "Thrusties",
  "app_version": "1.0.2",
  "app_version_code": "4",
  "android_manifest": "AndroidManifest.xml"
}