{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 1280,
    "height": 720,
    "title": "Thrusties",
    "orientation": "portrait"
  },
  "app_id": "co.theengine.Thrusties",
  "app_name": "Thrusties",
  "app_version": "1.0.0",
  "app_version_code": "1",
  "android_manifest": "AndroidManifest.xml",
  "ios_signing_identity": ""
}