{
  "sdk_version": "latest",
  "classpath": [
    "source",
    "../ClasspathExample/relativesources"
  ],
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "ClasspathExample",
    "stats": true
  },
  "app_name": "ClasspathExample",
  "app_id": "com.loomengine.ClasspathExample"
}