{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 600,
    "height": 600,
    "title": "FlattenExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.FlattenExample",
  "app_name": "FlattenExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}