{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 320,
    "height": 480,
    "title": "Pong",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "com.theengine.Pong",
  "app_name": "Pong",
  "app_settings": {
    "win_score": "5",
    "play_scale": "1",
    "speed": "100",
    "ai_reflex": "10",
    "top_ai": true,
    "bottom_ai": false
  }
}