{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "Parse Example",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.ParseExample",
  "app_name": "ParseExample",
  "app_version": "1.0.0",
  
  "parse_app_id": "PARSE APP ID GOES HERE",
  "parse_client_key": "PARSE CLIENT KEY GOES HERE",
  "parse_rest_key": "PARSE REST API KEY GOES HERE"
}