{
  "sdk_version": "dd_ms3",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "PRDemo",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.PRDemo",
  "app_name": "PRDemo",
  "app_version": "0.0.0",
  "parse_app_id": "PARSE APP ID GOES HERE",
  "parse_rest_key": "PARSE REST API KEY GOES HERE",
  "parse_client_key": "PARSE CLIENT KEY GOES HERE"
}