////////////////////////////////
//         BUTTONS
////////////////////////////////

button,
.button {
  -webkit-backface-visibility: hidden; /* Fixes flickering during transitions in Safari. */
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: $blue;
  color: white;
  @include text-shadow(rgba(0, 0, 0, 0.2) 0 1px 0);
  @include transition( all .1s linear );

  &:hover {
    background-color: $blue;
    @include box-shadow(rgba(0, 0, 0, .6) 0 0 16px 0);
  }
  
  &:active,
  &.is-pressed {
    background-color: $blue;
    @include box-shadow(rgba(0, 0, 0, .25) 0 0 12px 0 inset);
    //@include scale( 1 );
    @include transition( none );
  }

  &.button--disabled {
    cursor: auto;
    pointer-events: none;
  }

  &.button--text {
    padding: 14px 28px;
  }

  &.button--full-width {
    width: 100%;
    text-align: center;
  }
}