////////////////////////////////
//         CHECKBOX
////////////////////////////////

@import "compass/css3/user-interface";

@import "checkbox/*.png";
@include all-checkbox-sprites;

.checkbox {
  @extend .checkbox-off;
  @include user-select( none );
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  width: 17px;
  height: 17px;

  &.checkbox--checked {
    @extend .checkbox-on;
  }
}
