////////////////////////////////
//         DOWN ARROW
////////////////////////////////

.down-arrow {
  &:after {
    position: relative;
    top: -2px;
    content: '∨';
    font-size: 10px;
    margin-right: 8px;
  }
}