////////////////////////////////
//       INHERITED ICON
////////////////////////////////

.inherited-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 9px;
  margin-left: -20px;
  width: 11px;
  height: 17px;
  background: url( 'images/inherited-icon.jpg' ) no-repeat;
}
