////////////////////////////////
//         INPUT
////////////////////////////////

input {
  @extend p;
  display: block;
  border: none;
  border-bottom: 1px solid $dark-gray;
  padding: 12px;
  outline: none;

  &:focus {
    background-color: $light-blue;
  }
}

label {
}