////////////////////////////////
//     VERTICAL CENTERING
////////////////////////////////

.vertical-centerer {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-left: -1px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

