{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 720,
    "height": 853,
    "title": "Krush Blokk",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "co.theengine.demo.KrushBlokk",
  "app_name": "Krush Blokk",
  "app_version": "1.0.0",
  "app_version_code": "1"
}