{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 720,
    "height": 853,
    "title": "Krush Blokk",
    "orientation": "portrait"
  },
  "app_id": "co.theengine.KrushBlokk",
  "app_name": "Krush Blokk",
  "app_version": "1.0.1",
  "app_version_code": "1",
  "android_manifest": "AndroidManifest.xml",
  "ios_signing_identity": "iPhone Distribution: The Game Engine Company, LLC (R8RFAYHH5T)",
}