{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "PositionalAudioExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.PositionalAudioExample",
  "app_name": "PositionalAudioExample",
  "app_version": "0.0.0"
}