{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "AppDataExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.AppDataExample",
  "app_name": "AppDataExample",
  "app_version": "1.0.0",
  "app_version_code": "1"
}