{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 960,
    "height": 640,
    "title": "SQLiteExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.SQLiteExample",
  "app_name": "SQLiteExample",
  "app_version": "1.0.0",
  "app_version_code": "1"
}