{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 640,
    "height": 960,
    "title": "AsyncImageExample",
    "stats": true,
    "orientation": "portrait"
  },
  "app_name": "AsyncImageExample",
  "app_id": "com.loomengine.AsyncImageExample",
  "app_version": "1.0.0",
  "app_version_code": "1"
}