////////////////////////////////
//           COLORS
////////////////////////////////

$blue: #1a75da;
$purple: #871bda;
$red: #da1b1b;
$gray: #474747;
$off-gray: #8b8b8b;
$light-gray: #d6d6d6;
$faint-gray: #e7e7e7;
$barely-gray: #f5f5f5;
$light-blue: #f2f8ff;
$light-emerald: #e9fff4;
$green: #345946;