////////////////////////////////
//           GRID
////////////////////////////////

// Using Susy.
// http://susy.oddbird.net/demos/grid-types/

// A Fluid Grid based on 960gs
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: fluid;

@mixin clearfix {
  //display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}