////////////////////////////////
//        PACKAGE PAGE
////////////////////////////////

ul.items-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.item {
  @include clearfix;
}

.item-name,
.item-description {
  @extend p;
  float: left;
}

.item-name {
  width: 220px;
}

.item-description {
  margin-left: 20px;
  width: 430px;
}