{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 1280,
    "height": 720,
    "title": "VectorQuadSwitch",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.VectorQuadSwitch",
  "app_name": "VectorQuadSwitch",
  "app_version": "0.0.0",
  "app_version_code": "1"
}