<!-- Sidebar. -->
<div id="sidebar" class="sidebar sidebar--hidden">
    <div class="sidebar__inner">
        <div class="sidebar__button">
            <img src="<%= @relative_base_path %>/images/sidebar__button__icon.png" class="sidebar__button__icon" />
        </div>
        <div class="sidebar__title">
            <img src="<%= @relative_base_path %>/images/sidebar__title.png" />
        </div>
        <div class="sidebar__body">
        </div>
    </div>
</div><!-- End sidebar. -->