@charset UTF-8;

@media only screen and max-width 660px {
  body:after
  {
    content:"phone";
  }
}

@media only screen and min-width 661px and max-width 939px {
  body:after
  {
    content:"tablet";
  }
}

@media only screen and min-width 941px and max-width 1399px {
  body:after
  {
    content:"normal";
  }
}

@media only screen and min-width 1400px {
  body:after
  {
    content:"wide";
  }
}


body,figure,form,ul.list h1,ul.list h2,ul.list h3,ul.list h4,ul.list p,ul.list .site-header__logo__version,ul.list .site-header__search .options__option,.site-header__search ul.list .options__option,ul.list .sidebar__body__item,ul.page-nav__list li p,ul.page-nav__list li .site-header__logo__version,ul.page-nav__list li .site-header__search .options__option,.site-header__search ul.page-nav__list li .options__option,ul.page-nav__list li .sidebar__body__item,ul.list h1,ul.list h2,ul.list h3,ul.list h4,ul.list p,ul.list .site-header__logo__version,ul.list .site-header__search .options__option,.site-header__search ul.list .options__option,ul.list .sidebar__body__item,ul.list .overview-box__title,ul.list td.overview-box__name-col,ul.list td.overview-box__description-col,ul.list .show-inherited-toggle .checkbox:after,.show-inherited-toggle ul.list .checkbox:after,ul.page-nav__list li p,ul.page-nav__list li .site-header__logo__version,ul.page-nav__list li .site-header__search .options__option,.site-header__search ul.page-nav__list li .options__option,ul.page-nav__list li .sidebar__body__item,ul.page-nav__list li .overview-box__title,ul.page-nav__list li td.overview-box__name-col,ul.page-nav__list li td.overview-box__description-col,ul.page-nav__list li .show-inherited-toggle .checkbox:after,.show-inherited-toggle ul.page-nav__list li .checkbox:after,ul.list h1,ul.list h2,ul.list h3,ul.list h4,ul.list p,ul.list .site-header__logo__version,ul.list .site-header__search .options__option,.site-header__search ul.list .options__option,ul.list .sidebar__body__item,ul.list .item-name,ul.list .item-description,ul.page-nav__list li p,ul.page-nav__list li .site-header__logo__version,ul.page-nav__list li .site-header__search .options__option,.site-header__search ul.page-nav__list li .options__option,ul.page-nav__list li .sidebar__body__item,ul.page-nav__list li .item-name,ul.page-nav__list li .item-description
{
  margin:0;
}

p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,pre,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,td.overview-box__name-col,td.overview-box__description-col,.show-inherited-toggle .checkbox:after,pre,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,.item-name,.item-description,pre
{
  margin:1.5em 0;
}

html,body,ul.page-nav__list,ul.items-list li
{
  margin:0;
  padding:0;
}

h1,h2,h3,h4,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,h1,h2,h3,h4,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,.overview-box__title,td.overview-box__name-col,td.overview-box__description-col,.show-inherited-toggle .checkbox:after,h1,h2,h3,h4,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,.item-name,.item-description
{
  font-family:Helvetica, Arial, sans-serif;
  word-wrap:break-word;
}

h1.is-reverse,h2.is-reverse,h3.is-reverse,h4.is-reverse,p.is-reverse,.is-reverse.site-header__logo__version,.site-header__search .is-reverse.options__option,.is-reverse.sidebar__body__item,.is-reverse h1,.is-reverse h2,.is-reverse h3,.is-reverse h4,.is-reverse p,.is-reverse .site-header__logo__version,.is-reverse .site-header__search .options__option,.site-header__search .is-reverse .options__option,.is-reverse .sidebar__body__item,ul.page-nav__list li.current-nav-section a,h1.is-reverse,h2.is-reverse,h3.is-reverse,h4.is-reverse,p.is-reverse,.is-reverse.site-header__logo__version,.site-header__search .is-reverse.options__option,.is-reverse.sidebar__body__item,.is-reverse.overview-box__title,td.is-reverse.overview-box__name-col,td.is-reverse.overview-box__description-col,.show-inherited-toggle .is-reverse.checkbox:after,.is-reverse h1,.is-reverse h2,.is-reverse h3,.is-reverse h4,.is-reverse p,.is-reverse .site-header__logo__version,.is-reverse .site-header__search .options__option,.site-header__search .is-reverse .options__option,.is-reverse .sidebar__body__item,.is-reverse .overview-box__title,.is-reverse td.overview-box__name-col,.is-reverse td.overview-box__description-col,.is-reverse .show-inherited-toggle .checkbox:after,.show-inherited-toggle .is-reverse .checkbox:after,h1.is-reverse,h2.is-reverse,h3.is-reverse,h4.is-reverse,p.is-reverse,.is-reverse.site-header__logo__version,.site-header__search .is-reverse.options__option,.is-reverse.sidebar__body__item,.is-reverse.item-name,.is-reverse.item-description,.is-reverse h1,.is-reverse h2,.is-reverse h3,.is-reverse h4,.is-reverse p,.is-reverse .site-header__logo__version,.is-reverse .site-header__search .options__option,.site-header__search .is-reverse .options__option,.is-reverse .sidebar__body__item,.is-reverse .item-name,.is-reverse .item-description
{
  color:#FFF;
}

p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,.overview-box__title,td.overview-box__name-col,td.overview-box__description-col,.show-inherited-toggle .checkbox:after,p,.site-header__logo__version,.site-header__search .options__option,.sidebar__body__item,.item-name,.item-description
{
  color:#474747;
  font-size:14px;
  font-weight:400;
  line-height:22px;
}

p.is-small,.is-small.site-header__logo__version,.site-header__search .is-small.options__option,.is-small.sidebar__body__item,p.is-small,.is-small.site-header__logo__version,.site-header__search .is-small.options__option,.is-small.sidebar__body__item,.is-small.overview-box__title,td.overview-box__name-col,td.overview-box__description-col,.show-inherited-toggle .checkbox:after,p.is-small,.is-small.site-header__logo__version,.site-header__search .is-small.options__option,.is-small.sidebar__body__item,.is-small.item-name,.is-small.item-description
{
  font-size:12px;
}

h1.is-inline,h2.is-inline,h3.is-inline,h4.is-inline,p.is-inline,.is-inline.site-header__logo__version,.site-header__search .is-inline.options__option,.is-inline.sidebar__body__item,h1.is-inline,h2.is-inline,h3.is-inline,h4.is-inline,p.is-inline,.is-inline.site-header__logo__version,.site-header__search .is-inline.options__option,.is-inline.sidebar__body__item,.is-inline.overview-box__title,td.is-inline.overview-box__name-col,td.is-inline.overview-box__description-col,.show-inherited-toggle .is-inline.checkbox:after,h1.is-inline,h2.is-inline,h3.is-inline,h4.is-inline,p.is-inline,.is-inline.site-header__logo__version,.site-header__search .is-inline.options__option,.is-inline.sidebar__body__item,.is-inline.item-name,.is-inline.item-description
{
  display:inline-block;
}

.content-header h3,.content-section h3,.content-subsection
{
  border-bottom:1px solid #e7e7e7;
}

.content-section__subheader:after,.content__box--support:after,.overview-box__header:after,.overview-box__header--twirlable:after,.item:after
{
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}

.content-section:last-child,.content-subsection:last-child
{
  border-bottom:none;
}

.checkbox-on,.checkbox.checkbox--checked,.checkbox-on,.checkbox.checkbox--checked,.show-inherited-toggle.show-inherited-toggle--on .checkbox
{
  background-position:0 0;
}

.site-header__search .options__option--selected:hover,ul.page-nav__list li.current-nav-section
{
  background-color:#1a75da;
}

.sidebar--hidden .sidebar__button,.show-inherited-toggle.show-inherited-toggle--on .checkbox:after
{
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
}

.title,.content__boxes
{
  margin-top:50px;
}

.content__box,.item-name,.item-description
{
  float:left;
}

.content__box + .content__box,.content__box--support-item + .content__box--support-item
{
  margin-left:20px;
}

.content__box--cta,.content__box--support
{
  width:100%;
}


article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
  display:block;
}

audio,canvas,video
{
  display:inline;
  zoom:1;
}

audio:not([controls])
{
  display:none;
  height:0;
}

html
{
  -ms-text-size-adjust:100%;
  -webkit-font-smoothing:subpixel-antialiased;
  -webkit-text-size-adjust:100%;
  font-family:sans-serif;
  font-size:100%;
  line-height:1.5em;
}

button,input,select,textarea
{
  font-family:inherit;
  font-size:100%;
  margin:0;
  vertical-align:middle;
}

a:focus
{
  outline:thin dotted;
}

a:active,a:hover
{
  outline:0;
}

blockquote
{
  margin:1.5em 40px;
}

h1
{
  color:#000;
  font-size:30px;
  font-weight:600;
  line-height:45px;
  margin-bottom:.75em;
  margin-top:.75em;
}

h2
{
  color:#000;
  font-size:24px;
  font-weight:100;
  line-height:36px;
  margin-bottom:1em;
  margin-top:1em;
}

h3
{
  color:#000;
  font-size:18px;
  font-weight:600;
  line-height:28px;
  margin-bottom:1.28205em;
  margin-top:1.28205em;
}

h4
{
  color:#000;
  font-size:16px;
  font-weight:400;
  line-height:22px;
  margin-bottom:1.5em;
  margin-top:1.5em;
}

h5
{
  font-size:.83em;
  line-height:1.80723em;
  margin-bottom:1.80723em;
  margin-top:1.80723em;
}

h6
{
  font-size:.67em;
  line-height:2.23881em;
  margin-bottom:2.23881em;
  margin-top:2.23881em;
}

abbr[title]
{
  border-bottom:1px dotted;
}

b,strong
{
  font-weight:700;
}

dfn
{
  font-style:italic;
}

hr
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color:#d6d6d6;
  border:none;
  box-sizing:border-box;
  height:1px;
  width:100%;
}

mark
{
  background:#ff0;
  color:#000;
}

code,kbd,pre,samp
{
  _font-family:'courier new', monospace;
  font-family:monospace, serif;
  font-size:1em;
  line-height:1.5em;
}

pre
{
  background-color:#eee;
  color:#000;
  display:block;
  font-size:14px;
  margin:30px 0;
  overflow:scroll;
  overflow-x:scroll;
  overflow-y:hidden;
  padding:30px;
  white-space:pre-wrap;
}

q
{
  quotes:\201C \201D \2018 \2019;
}

small
{
  font-size:80%;
}

sub,sup
{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup
{
  top:-.5em;
}

sub
{
  bottom:-.25em;
}

dl,menu,ol,ul
{
  font-size:14px;
  margin:1.5em 0;
  padding:0 0 0 40px;
}

dl
{
  padding:0;
}

dd
{
  margin:0 0 0 40px;
}

nav ul,nav ol
{
  list-style:none;
  list-style-image:none;
}

img
{
  -ms-interpolation-mode:bicubic;
  border:0;
}

svg:not(:root)
{
  overflow:hidden;
}

fieldset
{
  border-color:silver;
  border-style:solid;
  border-width:.0625em;
  margin:0 2px;
  padding:.4625em .875em .9125em;
}

legend
{
  border:0;
  margin-left:-7px;
  padding:0;
}

button,input
{
  line-height:normal;
}

button,select
{
  text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
{
  -webkit-appearance:button;
  cursor:pointer;
  overflow:visible;
}

button[disabled],html input[disabled]
{
  cursor:default;
}

input[type="checkbox"],input[type="radio"]
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height:13px;
  padding:0;
  width:13px;
}

input[type="search"]
{
  -moz-box-sizing:content-box;
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
  -webkit-appearance:none;
}

button::-moz-focus-inner,input::-moz-focus-inner
{
  border:0;
  padding:0;
}

textarea
{
  overflow:auto;
  vertical-align:top;
}

table
{
  border-collapse:collapse;
  border-spacing:0;
}

*
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.is-light
{
  color:#8b8b8b;
  font-weight:200;
}

a
{
  color:#1a75da;
  text-decoration:none;
}

a:visited
{
  color:#871bda;
}

a:active
{
  color:#da1b1b;
}

a:hover
{
  color:#1a75da;
  text-decoration:underline;
}

a.is-perm
{
  color:#1a75da;
}

code
{
  background-color:#FFF;
  color:#272822;
  font-size:14px;
  padding:4px;
}

.page
{
  padding-bottom:80px;
}

.content
{
  color:#474747;
  font-size:14px;
  font-weight:400;
  padding:21px 0 60px 280px;
  width:980px;
}

.content-header h2,.content-section h2
{
  border-bottom:4px solid #d6d6d6;
}

.content-header
{
  margin:30px 0 0;
}

.content-section
{
  margin:20px 0 0;
}

.content-section__inner
{
  padding:0 0 0 36px;
}

.content-section__subheader
{
  -moz-user-select:none;
  -webkit-user-select:none;
  background-color:#F5F5F5;
  border-top:1px solid #e7e7e7;
  cursor:pointer;
  padding:4px 8px;
  user-select:none;
}

.content-section__subheader:hover
{
  background-color:#e7e7e7;
  border-top:1px solid #d6d6d6;
}

.content-section__subheader__twirl
{
  float:left;
  margin-top:12px;
}

.content-section__subheader__title
{
  float:left;
  font-weight:100;
  margin:0;
}

.twirl-down
{
  border-bottom:5px solid transparent;
  border-left:5px solid #474747;
  border-top:5px solid transparent;
  display:inline-block;
  height:10px;
  left:4px;
  margin-right:10px;
  position:relative;
  top:-3px;
  vertical-align:middle;
  width:10px;
}

.is-open .twirl-down
{
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #474747;
  left:0;
  top:1px;
}

.twirlable:before
{
  border-bottom:5px solid transparent;
  border-left:5px solid #747d85;
  border-top:5px solid transparent;
  content:' ';
  display:inline-block;
  height:0;
  margin-left:-11px;
  margin-top:5px;
  position:absolute;
  vertical-align:middle;
  width:0;
}

.twirlable.twirlable--open:before
{
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #747d85;
  margin-left:-15px;
  margin-top:8px;
}

.checkbox-sprite,.checkbox-off,.checkbox,.checkbox-on
{
  background:url(../images/checkbox-s73880f2617.png) no-repeat;
}

.checkbox-off,.checkbox
{
  background-position:0 -17px;
}

.checkbox
{
  -khtml-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  display:inline-block;
  height:17px;
  user-select:none;
  width:17px;
}

.site-header
{
  background-color:rgba(255,255,255,0.95);
  border-bottom:1px solid #F5F5F5;
  margin-left: 280px;
  height:50px;
  z-index:900;
  width: 720px;
}

.site-header__logo
{
  background:#FFF url(images/site-header__logo.jpg) no-repeat;
  background-color:#FFF;
  background-position:50px 12px;
  display:inline-block;
  height:100%;
  left:26px;
  position:relative;
  top:0;
  vertical-align:middle;
  width:209px;
}

.site-header__logo__version
{
  color:#FFF;
  font-size:12px;
  margin:0;
  position:absolute;
  right:14px;
  top:15px;
}

ul.site-header__nav
{
  display:inline-block;
  list-style-type:none;
  margin: 22px 10px 10px 0px;
  vertical-align:middle;
  padding-left: 0px;
  z-index: 1000;
}

.site-header__search
{
  position: relative;
}

.site-header__search input
{
  -moz-border-radius-bottomleft:14px;
  -moz-border-radius-topleft:14px;
  -webkit-border-bottom-left-radius:14px;
  -webkit-border-top-left-radius:14px;
  background:url(images/search-icon.jpg) no-repeat;
  background-position:10px;
  border:1px solid #d6d6d6;
  border-bottom-left-radius:14px;
  border-top-left-radius:14px;
  font-size: 20px;
  height: 46px;
  padding: 1px 20px 0 40px;
  width:600px;
}

.site-header__search input:focus
{
  outline:none;
}

.site-header__search button
{
  font-size:14px;
  height:46px;
  padding:0 20px;
  text-align:left;
  vertical-align:top;
  width: 120px;
}

.site-header__search .options
{
  -moz-box-shadow:rgba(0,0,0,0.15) 0 0 8px 0;
  -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 8px 0;
  background-color:#FFF;
  box-shadow:rgba(0,0,0,0.15) 0 0 8px 0;
  display:none;
  padding:10px 0;
  position:absolute;
  right:0px;
  width: 120px;
  z-index: 10;
}

.site-header__search .options__option
{
  cursor:pointer;
  font-size:14px;
  margin:0;
  padding:4px 20px;
}

.site-header__search .options__option:hover
{
  background-color:#F5F5F5;
}

.site-header__search .options__option--selected
{
  background-color:#1a75da;
  color:#FFF;
}

.sidebar
{
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  -webkit-transition:all .3s ease;
  background-color:transparent;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  transition:all .3s ease;
  width:270px;
  z-index:1000;
}

.sidebar--hidden
{
  left:-225px;
}

.sidebar--hidden .sidebar__inner
{
  -moz-box-shadow:rgba(0,0,0,0.2) 20px 0 40px;
  -webkit-box-shadow:rgba(0,0,0,0.2) 20px 0 40px;
  box-shadow:rgba(0,0,0,0.2) 20px 0 40px;
}

.sidebar__inner
{
  -moz-box-shadow:rgba(0,0,0,0.4) 5px 0 10px;
  -webkit-box-shadow:rgba(0,0,0,0.4) 5px 0 10px;
  background-color:#2a2d30;
  box-shadow:rgba(0,0,0,0.4) 5px 0 10px;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  transition:all .5s ease;
  width:250px;
}

.sidebar__button
{
  -moz-border-radius:19px;
  -moz-box-shadow:rgba(255,255,255,0.3) 0 1px 1px 0 inset;
  -moz-transition:all .2s ease;
  -ms-border-radius:19px;
  -o-border-radius:19px;
  -o-transition:all .2s ease;
  -webkit-border-radius:19px;
  -webkit-box-shadow:rgba(255,255,255,0.3) 0 1px 1px 0 inset;
  -webkit-transition:all .2s ease;
  background-color:#1a75da;
  border-radius:19px;
  box-shadow:rgba(255,255,255,0.3) 0 1px 1px 0 inset;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  height:38px;
  opacity:0;
  position:absolute;
  right:-23px;
  top:2px;
  transition:all .2s ease;
  width:38px;
  z-index:10;
}

.sidebar__button__icon
{
  -moz-animation:blink-animation 5s infinite;
  -ms-animation:blink-animation 5s infinite;
  -o-animation:blink-animation 5s infinite;
  -webkit-animation:blink-animation 5s infinite;
  animation:blink-animation 5s infinite;
  left:12px;
  position:absolute;
  top:10px;
}

50%
{
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity:0.3;
}

.sidebar__title
{
  background-color:#000;
  height:85px;
  padding:20px;
  position:relative;
  width:100%;
  z-index:2;
}

.sidebar__body
{
  bottom:0;
  left:0;
  overflow:scroll;
  overflow-x:hidden;
  padding:20px 20px 100px 0;
  position:absolute;
  right:0;
  top:85px;
  z-index:1;
}

.sidebar__body::-webkit-scrollbar
{
  width:10px;
}

.sidebar__body::-webkit-scrollbar-track
{
  background:transparent;
}

.sidebar__body::-webkit-scrollbar-thumb
{
  background:#1a75da;
  background-clip:padding-box;
  border:3px solid #1a75da;
  border-radius:5px;
}

.sidebar__body ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.sidebar__body ul li
{
  padding:4px 0 4px 20px;
  position:relative;
}

.sidebar__body__item
{
  background-color:rgba(0,0,0,0);
  color:rgba(255,255,255,0.8);
  font-weight:100;
  margin:0;
  text-shadow:rgba(0,0,0,0.5) 0 2px 0;
}

.sidebar__body__item:hover
{
  -moz-box-shadow:rgba(0,0,0,0.1) 0 2px 5px 0 inset;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0 2px 5px 0 inset;
  background-color:rgba(26,117,218,0.25);
  box-shadow:rgba(0,0,0,0.1) 0 2px 5px 0 inset;
}

.sidebar__body__item--selected li
{
  color:#FFF;
  font-weight:800;
}

.block-link
{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.vertical-centerer
{
  display:inline-block;
  height:100%;
  margin-left:-1px;
  vertical-align:middle;
  width:0;
}

.vertical-center,.loomcasts-icon,.forums-icon,.irc-icon
{
  display:inline-block;
  vertical-align:middle;
}

.inherited-icon
{
  background:url(images/inherited-icon.jpg) no-repeat;
  display:inline-block;
  height:17px;
  margin-left:-20px;
  margin-right:9px;
  vertical-align:top;
  width:11px;
}

.page-nav
{
  border-right:1px solid #F5F5F5;
  left:55px;
  padding:55px 0 50px;
  position:fixed;
  top:40px;
  width:180px;
}

.page-nav__title
{
  margin:0;
  padding:0 14px 10px 20px;
}

ul.page-nav__list li
{
  margin:0;
  padding:5px 20px;
}

.down-arrow:after
{
  content:'∨';
  font-size:10px;
  margin-right:8px;
  position:relative;
  top:-2px;
}

button,.button
{
  -moz-transition:all .1s linear;
  -o-transition:all .1s linear;
  -webkit-backface-visibility:hidden;
  -webkit-transition:all .1s linear;
  background-color:#1a75da;
  border:none;
  color:#FFF;
  display:inline-block;
  text-shadow:rgba(0,0,0,0.2) 0 1px 0;
  transition:all .1s linear;
  vertical-align:middle;
}

button:hover,.button:hover
{
  -moz-box-shadow:rgba(0,0,0,0.6) 0 0 16px 0;
  -webkit-box-shadow:rgba(0,0,0,0.6) 0 0 16px 0;
  background-color:#1a75da;
  box-shadow:rgba(0,0,0,0.6) 0 0 16px 0;
}

button:active,button.is-pressed,.button:active,.button.is-pressed
{
  -moz-box-shadow:rgba(0,0,0,0.25) 0 0 12px 0 inset;
  -moz-transition:none;
  -o-transition:none;
  -webkit-box-shadow:rgba(0,0,0,0.25) 0 0 12px 0 inset;
  -webkit-transition:none;
  background-color:#1a75da;
  box-shadow:rgba(0,0,0,0.25) 0 0 12px 0 inset;
  transition:none;
}

button.button--disabled,.button.button--disabled
{
  cursor:auto;
  pointer-events:none;
}

button.button--text,.button.button--text
{
  padding:14px 28px;
}

button.button--full-width,.button.button--full-width
{
  text-align:center;
  width:100%;
}

.page__inner
{
  padding: 0px 0 60px 280px;
  position:relative;
  width:980px;
}

.content__box__title
{
  border-bottom:1px solid #d6d6d6;
}

.content__banner
{
  background:#000 url(images/home__cta--devices.png) no-repeat;
  background-position:330px 0;
  height:200px;
  padding:20px 40px;
}

.content__banner__tagline
{
  width:250px;
}

.content__box--cta-button
{
  color:#FFF;
  font-size:24px;
  font-style:italic;
  font-weight:600;
  padding:18px 0;
  text-align:center;
  width:100%;
}

.content__box--support-item
{
  float:left;
  width:220px;
}

.content__box--image
{
  background-color:#000;
  height:125px;
}

.loomcasts-icon
{
  background:url(images/loomcasts-icon.png) no-repeat;
  height:74px;
  left:-35px;
  margin-left:50%;
  position:relative;
  width:74px;
}

.forums-icon
{
  background:url(images/forums-icon.png) no-repeat;
  height:91px;
  margin-left:38px;
  width:126px;
}

.irc-icon
{
  background:url(images/irc-icon.png) no-repeat;
  height:104px;
  margin-left:24px;
  width:170px;
}

.help
{
  position:absolute;
  width:100%;
  z-index:100;
}

.help__box
{
  position:absolute;
}

.help__box--sidebar
{
  left:60px;
  top:100px;
}

.help__box--search
{
  right:167px;
  top:138px;
}

.help__sidebar__arrow
{
  left:-20px;
  position:absolute;
  top:-70px;
}

.help__search__arrow
{
  position:absolute;
  right:-100px;
  top:-100px;
}

ul.site-header__nav li
{
  display:inline;
  list-style-type:none;
}

ul.site-header__nav li + li::before
{
  content:"    >    ";
}

.special-property
{
  color:#000;
  font-size:10px;
  font-weight:600;
  text-transform:uppercase;
  vertical-align:top;
}

.deprecated-property
{
  color:#771F1F;
  font-size:10px;
  font-weight:600;
  text-transform:uppercase;
  vertical-align:top;
}

.overview-box__header,.overview-box__header--twirlable
{
  background-color:#e7e7e7;
  padding:4px 12px;
  position:relative;
}

.overview-box__header--twirlable
{
  -moz-user-select:none;
  -webkit-user-select:none;
  cursor:pointer;
  user-select:none;
}

.overview-box__header--twirlable:hover
{
  background-color:#d6d6d6;
}

.overview-box__twirl
{
  float:left;
  margin-top:9px;
}

.overview-box__title
{
  float:left;
  font-size:14px;
  font-weight:700;
  margin:0;
}

table.overview-box__table
{
  border:1px solid #e7e7e7;
  table-layout:fixed;
  width:100%;
}

table.overview-box__table td
{
  border-bottom:1px solid #e7e7e7;
  border-top:1px solid #e7e7e7;
  padding:4px 12px 4px 34px;
}

td.overview-box__name-col
{
  border-right:1px solid #e7e7e7;
  margin:0;
  padding-right:0;
  vertical-align:top;
  width:40%;
}

td.overview-box__description-col
{
  margin:0;
  vertical-align:top;
  width:60%;
}

.show-inherited-toggle
{
  cursor:pointer;
  float:right;
  padding:2px 4px 0;
}

.show-inherited-toggle .checkbox
{
  width:106px;
}

.show-inherited-toggle .checkbox:after
{
  content:"Show inherited";
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  margin-left:24px;
  opacity:0.6;
  position:relative;
  top:-3px;
}

.show-inherited-toggle:hover
{
  outline:1px dotted #1a75da;
}

.panel-danger .panel-heading
{
  background-color:#f2dede;
  border-color:#eed3d7;
  color:#b94a48;
}

.panel-heading
{
  background-color:#f5f5f5;
  border-bottom:1px solid #ddd;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  margin:-15px -15px 15px;
  padding:10px 15px;
}

.panel
{
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  box-shadow:0 1px 1px rgba(0,0,0,0.05);
  margin-bottom:20px;
  padding:15px;
}

.panel p
{
  margin-bottom:0;
}

.ui-tooltip
{
  -webkit-box-shadow:0 0 5px #b94a48!important;
  border:1px solid #b94a48!important;
  box-shadow:0 0 5px #b94a48!important;
}

.ui-tooltip-content
{
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
}

ul.items-list
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.item-name
{
  width:220px;
}

.item-description
{
  margin-left:20px;
  width:430px;
}

#example-grid
{
  width:120%;
}

#example-grid .example
{
  float:left;
  margin:0 5px 5px 0;
}

#example-grid .example a
{
  color:#474747;
  text-decoration:none;
}

#example-grid .example img,#example-grid .example .placeholder
{
  height:180px;
  width:250px;
}

#example-grid .example .placeholder
{
  line-height:180px;
  text-align:center;
}

[hidden],body:after,.sidebar__body::-webkit-scrollbar-button
{
  display:none;
}

/* Search dropdown and search results */
#results-dropdown .dropdown-menu
{
  min-width: 600px;
  max-height: 600px;
  overflow-y: auto;
}

#results-dropdown .search-result > a
{
  padding-top: 10px;
  padding-bottom: 6px;
  margin: 8px 0px;
}

#results-dropdown .search-result.hovered > a,
#results-dropdown .search-result > a:hover
{
  background-color: hsla(212,79%,95%,1);
  color: black;
  border-left: 4px solid #8abdf0;
  border: separate;
}

.dropdown .search-result .name
{
  font-size: 1.3em;
  margin: 3px 4px;
}

.dropdown .search-result .subtitle {
  color: #888;
  margin: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown .search-result .faded {
  color: #999;
}

.dropdown .search-result .tag {
    font-size: 1em;
    border-radius: 5px;
    margin: 1px 2px 0px 0;
    color: black;
    opacity: 0.6;
}

.search-result.example  { background: #c0f9c5; }
.search-result.guide    { background: #d9f9dd; }
.search-result.class    { background: #f1f8fd; }
.search-result.method   { background: #fdf9e7; }
.search-result.field    { background: #e3f4ef; }
.search-result.constant { background: #f7f8f9; }

.tag.example {
  background: #2ab72a;
  color: white;
}

.no-results {
  margin: 6px 14px 3px 14px;
}