{
  "sdk_version": "1.1.2848",
  "executable": "Main.loom",
  "display": {
    "width": 960,
    "height": 640,
    "title": "PureMVC Shop Example",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.demo.puremvcexample",
  "app_name": "demo",
  "app_version": "0.0.0"
}