{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 1136,
    "height": 640,
    "title": "Loom Pitch Videos",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.demos.LoomPitchVideoDemo",
  "app_name": "LoomPitchVideos",
  "app_version": "0.0.0"
}