{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 720,
    "height": 720,
    "stats": true,
    "orientation": "auto",
    "title": "cacheAsBitmap Example"
  },
  "app_id": "co.theengine.CacheAsBitmapExample",
  "app_name": "CacheAsBitmapExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}