{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 720,
    "height": 720,
    "title": "RenderTextureExample",
    "stats": true,
    "orientation": "auto"
  },
  "app_id": "co.theengine.RenderTextureExample",
  "app_name": "RenderTextureExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}