/*
	Stylesheet defining positions for some LML labels and buttons.
*/

#header {
	y: 10;
}

#modeTimed {
	x: 30;
	y: 40;
}

#modeUnlimited {
	x: 30;
	y: 70;
}

#demo {
	x: 30;
	y: 135;
}

#modeFreeform {
	x: 16;
	y: 100;
}

#modeLeisurely {
	x: 20;
	y: 40;
}

#modeStandard {
	x: 20;
	y: 70;
}

#modeBeast {
	x: 20;
	y: 100;
}

#quit {
	x: 30;
	y: 25;
}

#yes {
	x: 30;
	y: 65;
}

#no {
	x: 30;
	y: 95;
}

#score {
	y: 46;
}

#info {
	x: 6;
	y: 100;
}