{
    "display": 
    {
    "width": 1280,
    "height": 720,
    "title": "LoomPlayer",
    "stats": true
    },

    "log":
    {
        "loom": 
        {
            "enabled": 0,
            "level": 0
        }
    },
    
    "app_id": "co.theengine.LoomPlayer",

    "waitForAssetAgent": 250,
    "assetAgentHost": "localhost",
    "assetAgentPort": 12340,
    
    "waitForDebugger": 0,
    "debuggerHost": "localhost",
    "debuggerPort": 8171
    
}
        