{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 600,
    "height": 320,
    "title": "Font Fallback Example",
    "stats": 0,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.demo.FontFallbackExample",
  "app_name": "FontFallbackExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}