{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "CameraExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.demos.CameraExample",
  "app_name": "CameraExample",
  "app_version": "0.0.0"
}