{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 1280,
    "height": 720,
    "title": "GameControllerExample",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "co.theengine.GameControllerExample",
  "app_name": "GameControllerExample",
  "app_version": "0.0.0",
  "app_version_code": "1"
}