{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 640,
    "height": 960,
    "title": "Modest Maps Example",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "co.theengine.demos.ModestMapsExample",
  "app_name": "ModestMapsExample",
  "app_version": "1.0.0"
}