{
  "sdk_version": "latest",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 480,
    "title": "Submersible Trouble",
    "stats": true,
    "orientation": "portrait"
  },
  "app_id": "co.theengine.demo.SubmersibleTrouble",
  "app_name": "Submersible Trouble",
  "app_version": "1.0.2",
  "app_version_code": "4",
  "android_manifest": "AndroidManifest.xml"
}